version: '3.9'

services:
  backend:
    build: ./backend
    container_name: mern-backend
    restart: always
    ports:
      - "8080:8080"
    environment:
      - MONGO_URI=${MONGO_URI}
      - CLOUDINARY_CLOUD_NAME=${CLOUDINARY_CLOUD_NAME}
      - CLOUDINARY_API_KEY=${CLOUDINARY_API_KEY}
      - CLOUDINARY_API_SECRET=${CLOUDINARY_API_SECRET}

  frontend:
    build: ./frontend
    container_name: mern-frontend
    restart: always
    ports:
      - "3000:80"
    depends_on:
      - backend
