version: '3.9'

services:
  backend:
    build: ./backend
    image: ecommerce-backend
    container_name: mern-backend
    restart: always
    ports:
      - "8080:8080"
    env_file:
      - .env

  frontend:
    build: ./frontend
    image: ecommerce-frontend
    container_name: mern-frontend
    restart: always
    ports:
      - "3000:80"
    depends_on:
      - backend

